@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url('./img/Cool\ Sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.profile-card {
    max-width: 460px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin: auto;
}
.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.profile-card__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #333;
}

.profile-card__desc h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.profile-card__desc p {
    font-size: 15px;
    font-weight: 500;
}

.profile-card__info {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.profile-card__info a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    background-color: #4070f4;
    margin-top: 20px;
}

.profile__interest p {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
}

.profile__interest-introduce {
    display: flex;
    justify-content: space-between;
}
.profile__interest-introduce div {
    width: 126px;
    height: 38px;
    border-radius: 18px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.profile__interest-introduce svg {
    padding-right: 6px;
    color: #1da1f2;
}

@media screen and (max-width: 46.1875em) {
    .profile-card {
        margin: 0 12px;
    }


    .profile__interest-introduce {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile__interest-introduce div + div {
        margin-top: 10px;
    }

    .profile-card__info a {
        width: 60px;
        height: 60px;
    }
}

.profile-card__info a:nth-child(1) {
    background-color: #4267b2;
}
.profile-card__info a:nth-child(2) {
    background-color: #1da1f2;
}
.profile-card__info a:nth-child(3) {
    background-color: #e1306c;
}
.profile-card__info a:nth-child(4) {
    background-color: #343336;
}